/* Custom Fonts */
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

/* Default Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #fff !important;
  color: #121212 !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/* NavBar CSS */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: 0.4s ease-in-out;
}
nav.navbar.scrolled {
  padding: 10px 0;
  background-color: #dae8d3;
  background: linear-gradient(
    0.21deg,
    rgb(62, 118, 67) -10.91%,
    rgb(135, 162, 125) 131.58%
  );
}
nav.navbar a.navbar-brand {
  color: #fff;
  text-align: center;
  width: 10%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.9;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
  border-color: transparent;
}
nav.navbar .navbar-nav {
  margin-left: auto;
}

@media (max-width: 991px) {
  nav.navbar .navbar-nav {
    text-align: right;
    width: 100%;
  }
}
.navbar-brand h2 {
  font-size: 30px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .navbar-brand h2 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .navbar-brand h2 {
    font-size: 16px;
  }
}

/* Banner CSS */
.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;
  background-image: url('./assets/img/banner-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-position: no-repeat;
  overflow: hidden;
}

.carousel-item {
  height: 400px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.carousel-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-content img {
  max-height: 100%;
  object-fit: cover;
}

.carousel-control-prev {
  margin-left: -70px;
}
.carousel-control-next {
  margin-right: -70px;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(31, 68, 26, 0.8) -5.91%,
    rgba(26, 29, 17, 0.5) 111.58%
  );
  font-size: 28px;
  color: #eee;
  margin-bottom: 16px;
  display: inline-block;
}
.banner p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 100%;
  text-align: justify;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.btn-moreInfo {
  display: block;
  text-align: left;
  width: 100%;
  padding: 10px;
}

.btn-quizNight {
  display: block;
  text-align: left;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
}

.banner a {
  text-decoration: none;
  color: inherit;
}
.banner a svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner a:hover svg {
  margin-left: 25px;
}
.banner .btn-donate button {
  border: #fff;
  background-color: #1b3f22;
  padding: 14px 30px;
  font-size: 18px;
  margin: 15px 0 15px 0;
  transition: 0.3s ease-in-out;
}

/* About CSS */
.about {
  background-color: #dae8d3;
  padding: 100px 0 100px 0;
  background: linear-gradient(
    0.21deg,
    rgba(204, 226, 185, 0.9) -10.91%,
    rgba(231, 241, 230, 0.3) 131.58%
  );
}
.about h2 {
  font-size: 32px;
  font-weight: 500;
  color: #223b47;
  margin-bottom: 30px;
}
.about p {
  font-size: 16px;
  line-height: 1.5em;
  width: 100%;
  text-align: justify;
}
.about .imgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.about .about1,
.about .about2,
.about .about3 {
  height: 250px;
  width: 33%;
  object-fit: cover;
}

/* Supporters CSS */
.supporters {
  display: flex;
  background-color: #dae8d3;
  background: linear-gradient(
    0.21deg,
    rgba(204, 226, 185, 0.9) -10.91%,
    rgba(231, 241, 230, 0.3) 131.58%
  );
}
.supporters h2 {
  font-size: 32px;
  font-weight: 500;
  color: #223b47;
  margin-bottom: 30px;
  margin-right: 200px;
}
.supporters p {
  font-size: 22px;
  line-height: 1.5em;
  width: 100%;
  text-align: justify;
}
.supporterContent,
.organizationContent {
  display: flex;
  align-items: center;
}
.supporters .supporterImgContainer,
.supporters .organizationImgContainer {
  display: flex;
  margin-bottom: 10px;
}

.supporters .supporterImgContainer img {
  max-width: 300px;
  height: auto;
  object-fit: contain;
  margin: 0 0 0 20px;
}
.supporters .supporterImgContainer img.scaled {
  transform: scale(0.5);
  transform-origin: center;
}
.supporters .organizationImgContainer img {
  max-height: 100px;
  width: auto;
  margin: 0 0 0 50px;
  object-fit: contain;
}
@media (max-width: 768px) {
  .supporters .supporterImgContainer,
  .supporters .organizationImgContainer {
    flex-direction: column; /* 改为纵向排列 */
    align-items: center; /* 图片在容器内居中 */
  }

  .supporters .supporterImgContainer img,
  .supporters .organizationImgContainer img {
    margin: 10px 0; /* 调整图片间距 */
  }
}

/* Donate CSS */
.donate {
  background-color: #dae8d3;
  padding: 100px 0 100px 0;
  background: linear-gradient(
    180.21deg,
    rgba(204, 226, 185, 0.9) -10.91%,
    rgba(231, 241, 230, 0.3) 131.58%
  );
}
.donate .donate-info button {
  font-weight: 700;
  color: #e5e5e5 !important;
  background-color: #223b47;
  padding: 14px 30px;
  font-size: 18px;
  margin: 15px 0 15px 0;
  transition: 0.3s ease-in-out;
}
.donate .donate-info h2,
.donate .donate-form h2 {
  font-size: 32px;
  font-weight: 500;
  color: #223b47;
  margin: 20px 0;
}
.donate .donate-info p {
  color: #223b47;
  margin: 20px 0;
}
.donate .donate-form form input,
.donate .donate-form form textarea {
  width: 100%;
  color: #27667a;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  -webkit-text-fill-color: #27667a !important;
}
.donate .donate-form .submit-donate-form {
  font-weight: 700;
  color: #e5e5e5 !important;
  background-color: #223b47;
  padding: 14px 30px;
  font-size: 18px;
  margin: 15px 0 15px 0;
  transition: 0.3s ease-in-out;
}
.donate p {
  color: #223b47;
  text-align: justify;
}

/* Quiz CSS */
.quiz {
  background-color: #dae8d3;
  padding: 0 0 100px 0;
  background: linear-gradient(
    180.21deg,
    rgba(204, 226, 185, 0.9) -10.91%,
    rgba(231, 241, 230, 0.3) 131.58%
  );
}
.quiz .quiz-info button {
  font-weight: 700;
  color: #e5e5e5 !important;
  background-color: #223b47;
  padding: 14px 30px;
  font-size: 18px;
  margin: 15px 0 15px 0;
  transition: 0.3s ease-in-out;
}
.quiz .quiz-info h2,
.quiz .quiz-booking-form h2,
.quiz .align-items-start h2 {
  font-size: 32px;
  font-weight: 500;
  color: #223b47;
  margin: 20px 0;
}
.quiz .align-items-start h3 {
  font-size: 20px;
  font-weight: 500;
  color: #223b47;
}
.quiz .quiz-info p {
  color: #223b47;
  margin: 20px 0;
}
.quiz .quiz-booking-form form input,
.quiz .quiz-booking-form form textarea {
  width: 100%;
  color: #27667a;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  -webkit-text-fill-color: #27667a !important;
}
.quiz .quiz-booking-form .submit-quiz-booking-form {
  font-weight: 700;
  color: #e5e5e5 !important;
  background-color: #223b47;
  padding: 14px 30px;
  font-size: 18px;
  margin: 15px 0 15px 0;
  transition: 0.3s ease-in-out;
}
.quiz p {
  color: #223b47;
  text-align: justify;
}

/* Contact CSS */
.contact {
  background-color: #dae8d3;
  padding: 20px 0 100px 0;
  background: linear-gradient(
    0.21deg,
    rgba(204, 226, 185, 0.9) -10.91%,
    rgba(231, 241, 230, 0.3) 131.58%
  );
}
.contact img {
  width: 80%;
}
.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #223b47;
}
.contact form input,
.contact form textarea {
  width: 100%;
  color: #27667a;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(39, 102, 122);
  border-radius: 20px;
  margin: 0 0 10px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  -webkit-text-fill-color: #27667a !important;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #27667a;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 18px;
  font-weight: 400;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.6;
}
.contact form button {
  font-weight: 700;
  color: #27667a;
  background-color: #223b47;
  padding: 14px 48px;
  font-size: 18px;
  margin: 15px 0 15px 0;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
  color: #c1d8de;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: '';
  background: #dad3d3;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form p {
  margin-left: -8px;
}

/* Footer CSS */
.footer {
  background: #dae8d3;
  background: linear-gradient(
    180.21deg,
    rgba(204, 226, 185, 0.9) -10.91%,
    rgba(231, 241, 230, 0.3) 131.58%
  );
  /* background: linear-gradient(180.21deg, rgba(185, 210, 226, 0.9) -10.91%, rgba(66, 63, 83, 0.3) 131.58%); */
  padding: 0 0 50px 0;
}
.footer p {
  font-weight: 400;
  font-size: 16px;
  color: #223b47;
}

/* Original CSS from Create React App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
